<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://192.168.99.100:5432/exchange</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="pl.project.companyStatistics.CompanyStatistics"/>
        <mapping class="pl.project.offerSellBuy.OfferSellBuy"/>
        <mapping class="pl.project.offerSellBuyLimit.OfferSellBuyLimit"/>
        <mapping class="pl.project.user.User"/>
        <mapping class="pl.project.company.Company"/>
        <mapping class="pl.project.stock.Stock"/>
    </session-factory>
</hibernate-configuration>