<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://ec2-46-137-156-205.eu-west-1.compute.amazonaws.com:5432/dci330qdffiqdm</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="pl.project.entieties.Deposit"/>
        <mapping class="pl.project.entieties.OfferSellBuy"/>
        <mapping class="pl.project.entieties.OfferSellBuyLimit"/>
        <mapping class="pl.project.entieties.Transaction"/>
        <mapping class="pl.project.entieties.User"/>
        <mapping class="pl.project.entieties.CompanieStatistics"/>
        <mapping class="pl.project.entieties.Companie"/>
        <mapping class="pl.project.entieties.Companie"/>
        <mapping class="pl.project.entieties.CompanieStatistics"/>
        <mapping class="pl.project.entieties.Deposit"/>
        <mapping class="pl.project.entieties.OfferSellBuy"/>
        <mapping class="pl.project.entieties.OfferSellBuyLimit"/>
        <mapping class="pl.project.entieties.Transaction"/>
        <mapping class="pl.project.entieties.User"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>