<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/exchange</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="pl.project.entities.CompanieStatistics"/>
        <mapping class="pl.project.entities.Deposit"/>
        <mapping class="pl.project.entities.OfferSellBuy"/>
        <mapping class="pl.project.entities.OfferSellBuyLimit"/>
        <mapping class="pl.project.entities.User"/>
        <mapping class="pl.project.entities.Companie"/>
    </session-factory>
</hibernate-configuration>